@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Radio Canada', sans-serif;
}
body
{
    background: #2E4750;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    background-color: #F7F7F7;
    width: 80%;
    height: max-content;

    border-radius: 20px;
}
.main
{
    width: 95%;
    margin: 1.5rem auto;
    height: 50vh;
    padding: 1rem;
    border-radius: 20px;
    background-color: #F6C90E;
    background-image: url('assets/pexels-sound-on-3756772-removebg-preview.png');
    background-repeat: no-repeat;
    background-position:   right;
    
}
header
{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding :2rem 0 ;
}
.logo
{
    font-weight: 700;
    
}
.menu ul
{
    display: flex;
    gap: 2rem;
}
.menu li,a
{
    text-decoration: none;
    list-style: none;

    color: #2E4750;
}
h1
{
    width:35%;
    font-size: 40px;
}
.banner
{
    margin-left: 2rem;
}
.banner p
{
    width: 50%;
    padding:2rem 0 ;
    
}
#Login-button
{
    background: white;
    padding: .5rem 3rem;
    border-radius: 20px;

    font-weight: 700;
}
#get-started
{
    padding: .5rem 5rem;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
}
